@use "../abstracts";

.dropdown {
    position: absolute;
    width: min(1240px, 100%);
    left: 0;
    padding-top: 54px;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s;

    @include abstracts.breakpoint(lg) {
        position: initial;
        visibility: visible;
        opacity: 1;
        padding-top: 0;
    }

    &__inner {
        --inner-padding: 30px;
        position: relative;
        max-height: var(--inner-max-height);
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--Secondary-Color-Background, #fff);
        box-shadow: 0px 40px 90px 20px
            var(--Secondary-Color-Secondary-shadow-dropdown);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--icon-Color-dropdown);
        }

        @include abstracts.breakpoint(lg) {
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            padding: 0 40px;
            &::before {
                content: none;
            }
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(
        min(582px, 100vh - 158px) - (var(--inner-padding) * 2)
    );
    position: relative;
    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--Secondary-Color-Secondary-3, #d2d1d6);
        overflow-y: auto;

        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    @include abstracts.breakpoint(lg) {
        margin-top: 10px;
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__icon {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        position: relative;

        @include abstracts.breakpoint(xl) {
            display: none;
        }

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--icon-Color-dropdown-2);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        display: block;
        margin-top: 6px;
        color: var(--Secondary-Color-dropdown-1, #1a162e);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%; /* 150% */

        @include abstracts.breakpoint(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 26px;

        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: var(--Blue-Blue, #0071dc);
        font-weight: 500;
    }

    &__link {
        display: block;
        margin-top: 14px;
        color: var(--Secondary-Color-dropdown-1, #1a162e);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%; /* 142.857% */
        transition: 0.2s;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 calc(var(--main-column-width));
    padding-left: var(--inner-padding);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(var(--inner-padding) * 2);
    overflow-y: auto;
    transition: 0.2s;

    @include abstracts.breakpoint(lg) {
        position: initial;
        display: block;
        padding-left: 0;
        grid-template-columns: 1fr;
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: var(--inner-padding);
    }

    &--not-main {
        position: initial;
        inset: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height);
        padding-left: 0;
    }
}
