@use "../abstracts";

html {
    --Secondary-Color-Secondary-1: #1a162e;
    --Secondary-Color-Secondary-2: #9e9da8;
    --Secondary-Color-Secondary-3: #d2d1d6;
    --Secondary-Color-Secondary-4: #ededf6;
    --Secondary-Color-Secondary-5: #f8f8fb;
    --Secondary-Color-Secondary-shadow: rgba(237, 237, 246, 0.2);

    --Secondary-Color-Secondary-icon: brightness(0) saturate(100%) invert(10%) sepia(9%) saturate(3549%) hue-rotate(210deg) brightness(90%)
        contrast(98%);
    --Background-3: #eeeeee;
    --Background-2: #f6f6f6;
    --Secondary-Color-Background: #ffffff;

    --Blue-Blue: #0071dc;

    // Dropdown
    --Secondary-Color-Secondary-shadow-dropdown: rgba(200, 200, 200, 0.4);
    --icon-Color-dropdown: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7500%) hue-rotate(217deg) brightness(118%) contrast(109%);
    --icon-Color-dropdown-2: brightness(0) saturate(100%) invert(5%) sepia(59%) saturate(2430%) hue-rotate(236deg) brightness(89%) contrast(91%);
    --Secondary-Color-dropdown-1: #1a162e;

    @include abstracts.screen(lg) {
        --Background-3: #fff;
    }

    // Cate item
    --Background-cate-3: #eeeeee;

    @include abstracts.screen(md) {
        --Background-cate-3: #fff;
    }

    // Filter button
    --Background-filter-3: #fff;
    --Secondary-Color-Secondary-filter: #6c6c72;

    // Like button

    --Background-Like-3: #ffffff;
    --Secondary-Color-Shadow-Like: rgba(124, 124, 124, 0.2);

    // Product Card
    --Secondary-Color-Background-Product: #ffffff;

    // Filter Form
    --Secondary-Color-Shadow-filter-form: rgba(200, 200, 200, 0.4);
    --Secondary-Color-Secondary-filter-form: #d2d1d6;
}
