@use "../abstracts";

html {
    --Secondary-Color-Secondary-1: #1a162e;
    --Secondary-Color-Secondary-4: #ededf6;
    --Secondary-Color-Secondary-shadow: rgba(237, 237, 246, 0.2);

    --Secondary-Color-Secondary-icon: brightness(0) saturate(100%) invert(10%)
        sepia(9%) saturate(3549%) hue-rotate(210deg) brightness(90%)
        contrast(98%);
    --Background-3: #eeeeee;
    --Background-2: #f6f6f6;
    --Secondary-Color-Background: #ffffff;

    @include abstracts.breakpoint(lg) {
        --Background-3: #fff;
    }
}
